<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618338588915-ufk89v2h4qtih3q2hqhg0417g1i239ik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618338588915-ufk89v2h4qtih3q2hqhg0417g1i239ik</string>
	<key>API_KEY</key>
	<string>AIzaSyCUrxcWrYsJRoK6_hsveWf_yi0ViQF2guc</string>
	<key>GCM_SENDER_ID</key>
	<string>618338588915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myapp</string>
	<key>PROJECT_ID</key>
	<string>myapp-2b5c7</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-2b5c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618338588915:ios:1a7c9eac5ad805e6be7f86</string>
</dict>
</plist>